@model WeddingBudgetCalculatorMVC.Models.FoodProvider

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>FoodProvider</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FoodItem" class="control-label"></label>
                <input asp-for="FoodItem" class="form-control" />
                <span asp-validation-for="FoodItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodCost" class="control-label"></label>
                <input asp-for="FoodCost" class="form-control" />
                <span asp-validation-for="FoodCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceChargePercent" class="control-label"></label>
                <input asp-for="ServiceChargePercent" class="form-control" />
                <span asp-validation-for="ServiceChargePercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantTaxPercent" class="control-label"></label>
                <input asp-for="RestaurantTaxPercent" class="form-control" />
                <span asp-validation-for="RestaurantTaxPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceProviderType" class="control-label"></label>
                <input asp-for="ServiceProviderType" class="form-control" />
                <span asp-validation-for="ServiceProviderType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceProviderCost" class="control-label"></label>
                <input asp-for="ServiceProviderCost" class="form-control" />
                <span asp-validation-for="ServiceProviderCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDueDate" class="control-label"></label>
                <input asp-for="PaymentDueDate" class="form-control" />
                <span asp-validation-for="PaymentDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountPaid" class="control-label"></label>
                <input asp-for="AmountPaid" class="form-control" />
                <span asp-validation-for="AmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceProviderName" class="control-label"></label>
                <input asp-for="ServiceProviderName" class="form-control" />
                <span asp-validation-for="ServiceProviderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderWebsite" class="control-label"></label>
                <input asp-for="ProviderWebsite" class="form-control" />
                <span asp-validation-for="ProviderWebsite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxPercent" class="control-label"></label>
                <input asp-for="TaxPercent" class="form-control" />
                <span asp-validation-for="TaxPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
