
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>Place to show Service Provider Information</p>

    <a asp-action="CreateVenue" asp-controller="ServiceProvider">Create Venue</a>
</body>
</html>
